<div class="container">


    <div class="row justify-content-center">

        <div class="col-md-4">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


            <form action="/iniciar-sesion" method="POST">
                <div class="form-group">
                    <label for="email">User Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Write your email here">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="userPwd" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-dark btn-block">Login</button>
            </form>

            {{#if errorMsg}}
            <p id="errorMessage">{{errorMsg}}</p>
            {{/if}}

            <hr>

            <p>Not part of the FootScore community yet? <br> <a href="/registro">Sign up now</a>.</p>

        </div>
    </div>


</div>