<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      <form action="/registro/ligas" method="POST">
        <div class="form-row">



          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="league">Liga:</label>
              <select name="league" class="form-control" id="league">

                <option>Choose one</option>
                {{#each leagues}}
                <option value="{{id}}">{{name}}</option>

                {{/each}}
              </select>
            </div>

          <button type="submit" class="btn btn-dark btn-block"> Next </button>
      </form>

      {{#if errorMsg}}
      <p id="errorMessage">{{errorMsg}}</p>
      {{/if}}
    
      <p>Are you part of the FootScore community? <a href="/iniciar-sesion">Log in here</a>.</p>

    </div>
  </div>
</div>
