<div class="container">

  <h1>{{siteTitle}}</h1>
  <br><br><br>
<div class="match-container">
<a href="/league/england">
<div class="card" style="width: 18rem; border: 0px">
  <img class="card-img-top"  src="./images/premierleague.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Premier League</h5>  </div>
  {{!-- <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul> --}}
</div>
</a>

<a href="/league/spain">
<div class="card" style="width: 18rem; border: 0px">
  <img class="card-img-top" src="./images/laliga.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">LaLiga</h5>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
  </div>
  {{!-- <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul> --}}
  <div class="card-body">
  </div>
</div>
</a>

<a href="/league/italy">

<div class="card" style="width: 18rem; border: 0px">
  <img class="card-img-top" src="./images/seriea.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Serie A</h5>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
  </div>
  {{!-- <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul> --}}
  <div class="card-body">

  </div>
</div>
</a>


{{!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="./images/ligue1.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Ligue 1</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Another link</a>
  </div>
</div> --}}




</div>



  
</div>
